NEXT_PUBLIC_STRAPI_URL=http://localhost:1337
STRAPI_API_TOKEN=your-api-token-here
NEXT_PUBLIC_MAPBOX_TOKEN=your-mapbox-token-here
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USER=your-smtp-username
SMTP_PASSWORD=your-smtp-password
SMTP_FROM=noreply7@caravea.au
SMTP_FROM_NAME=[project-name]
