HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
STRAPI_SEED_FALLBACK_CONTENT=false
STRAPI_RANGE_API_URL=
STRAPI_RANGE_API_ENABLED=false
STRAPI_EVENTS_API_URL=
STRAPI_EVENTS_API_ENABLED=false
